<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Tarkov Maps{% endblock %}</title>
   
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    
</head>
<body>
    <header class="header">
        <div class="second_row">
    <div class="header_container">
        <a href="/" class="header_logo-link">Tarkov Maps</a>
        <div class="links">
            <div class="links_elem selected_links" data-id="maps-keys-exits">
                Maps, keys, exits
            </div>
            <div class="links_elem" data-id="quests">Quests</div>
        </div>
        <div class="form-container">
            <input class="autoCompleteHeader" type="text" placeholder="Enter your request">
        </div>
        <button class="login-btn" type="button">Login</button>
    </div>
</div>
      
        <div class="third_row">
            <div class="header_container">
                <div class="selected_links-info" id="maps-keys-exits">
                    <a class="map_btn" href="/map/terminal">Terminal</a>
                    <a class="map_btn" href="/map/streets">Streets</a>
                    <a class="map_btn" href="/map/ground-zero">Ground Zero</a>
                    <a class="map_btn" href="/map/shoreline">Shoreline</a>
                    <a class="map_btn" href="/map/factory">Factory</a>
                    <a class="map_btn" href="/map/labs">The Lab</a>
                    <a class="map_btn" href="/map/woods">Woods</a>
                    <a class="map_btn" href="/map/interchange">Interchange</a>
                    <a class="map_btn" href="/map/reserve">Reserve</a>
                    <a class="map_btn" href="/map/customs">Customs</a>
                    <a class="map_btn" href="/map/lighthouse">Lighthouse</a>
                    <a class="map_btn" href="/map/the-labyrinth">The Labyrinth</a>
                </div>
            </div>
        </div>
    </header>
    <main class="map_main">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer__social">
            <a href="https://github.com/randomniht" target="_blank">GitHub</a>
        </div>
    </footer>
   
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     crossorigin=""></script>
    {% block scripts %}
    {% endblock %}
   
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const currentPath = window.location.pathname;
            const mapLinks = document.querySelectorAll('.third_row a');
           
            mapLinks.forEach(link => {
                if (currentPath === link.getAttribute('href')) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>
