{% extends "base.html" %}

{% block title %}{{ map.name|title }} - Map{% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/css/map.css">

<div class="map-container-wrapper">
    <div class="map-header-info">
        <h1>Map: {{ map.name|title }}</h1>
        <div class="map-id">Map ID: <strong>{{ map.id }}</strong></div>
    </div>
    
    <div class="map-display-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
</div>

<script>
    window.MAP_DATA = {
        id: "{{ map.id }}",
        name: "{{ map.name }}"
    };
</script>

<script src="/static/js/main.js"></script>
{% endblock %}
